.container-login {
    height: 53.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 73px; /* Height of navbar */
    margin-bottom: 73px; /* Height of footer */
}

.ajustador-subtitle {
    transform: translateY(-5rem);
}

.subtitle {
    width: 70%;
}

.box-area {
    height: 73vh;
    width: 60vh;
    max-width: 900px;
    border-radius: 4rem;
    margin: 0 auto !important;
    position: relative;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

#ImgBehind {
    background-size: cover;
    background-position: center;
    border-radius: 40px 0px 0px 40px;
}

.h2-texto {  
    margin-top: 2vh;  /* Adjusted from 5vh */
    font-size: 3vw;    
}

.ajustador-subtitle {
    margin-top: 1vh;  /* Adjusted from 4vh */
}

.subtitle {
    width: 70%;
}

.text-center.mb-2 {
    margin-top: 1vh;  /* Adjusted from 2vh */
}

@media (max-width: 768px) {
    .box-area {
        width: 90vw;   
        height: auto;  
    }

    #ImgBehind {
        width: 90vw;   
        height: auto;  
    }

    .h2-texto {
        font-size: 4vw;   
        margin-top: 3vh;  /* Adjusted from 10vh */
    }

    .ajustador-subtitle {
        margin-top: 2vh;  /* Adjusted from 4vh */
    }

    .text-center.mb-2 {
        margin-top: 2vh;  /* Adjusted from 4vh */
    }
}

#LoginBtn {
    background-color: #EB7A42;
    border-radius: 40px;
    border: none;
    color: #FFFFFF;
    margin-top: 2rem;
    width: calc(100% - 60px) !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
}

#Texto {
    color: #FFFFFF;
}

#loginForm {
    padding: 0 30px;
}

.form-control {
    width: calc(100% - 60px);
    margin: 0 auto;
}

.form-control-lg {
    width: calc(100% - 60px) !important;
    margin: 0 auto !important;
}

.mb-6 {
    padding: 0;
}

.form-label {
    padding-left: 30px;
}

.input-group {
    padding: 0;
    width: 100%;
}

#password.form-control-lg {
    margin-left: 30px !important;
    margin-right: 30px !important;
    width: calc(100% - 60px) !important;
}