{% extends 'app_synes/base.html' %}
{% block title %}CadêURacha - Criar Jogo{% endblock %}
{% load static %}
{% block content %}
<head>
    <link href="{% static 'app_synes/css/cadastrar_jogo.css' %}" rel="stylesheet">
</head>
<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <i class="fas fa-basketball-ball auth-icon"></i>
            <h2 class="text-center mb-0">Criar Jogo</h2>
            <p class="text-center">Preencha os detalhes do jogo abaixo</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    <select class="form-control" name="{{ form.arena.name }}" id="{{ form.arena.id_for_label }}">
                        {% for choice in form.arena.field.choices %}
                            {% if choice.0 %}
                                <option value="{{ choice.0 }}" {% if form.arena.value == choice.0 %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-heading"></i></span>
                    <input type="text" class="form-control" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" placeholder="Título do Jogo" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-align-left"></i></span>
                    <textarea class="form-control" name="{{ form.descricao.name }}" id="{{ form.descricao.id_for_label }}" placeholder="Descrição do Jogo" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    <input type="date" class="form-control" name="{{ form.data.name }}" id="{{ form.data.id_for_label }}" value="{{ form.data.value|default:'' }}" min="{{ today }}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-clock"></i></span>
                    <input type="time" class="form-control" name="{{ form.horario.name }}" id="{{ form.horario.id_for_label }}" value="{{ form.horario.value|default:'' }}" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                    <input type="number" class="form-control" name="{{ form.max_jogadores.name }}" id="{{ form.max_jogadores.id_for_label }}" placeholder="Quantidade máxima de jogadores" min="1" required>
                </div>
            </div>
            <div class="form-group">
                <label for="id_qtd_bolas">Você vai levar uma bola de basquete para o racha?</label>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success" id="btn-sim">Sim</button>
                    <button type="button" class="btn btn-danger" id="btn-nao">Não</button>
                </div>
                
                {{ form.bolas }}
               
            </div>
            <button type="submit" class="auth-button">Criar Jogo</button>
        </form>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const urlParams = new URLSearchParams(window.location.search);
    const arenaId = urlParams.get('arena_id');
    
    if (arenaId) {
        const arenaSelect = document.querySelector('select[name="{{ form.arena.name }}"]');
        const option = arenaSelect.querySelector(`option[value="${arenaId}"]`);
        if (option) {
            option.selected = true;
        }
    }

    
    const today = new Date();
    today.setDate(today.getDate() + 1);
    const tomorrow = today.toISOString().split('T')[0];
    document.getElementById('{{ form.data.id_for_label }}').setAttribute('min', tomorrow);
});

document.addEventListener('DOMContentLoaded', function () {
    const btnSim = document.getElementById('btn-sim');
    const btnNao = document.getElementById('btn-nao');
    const bolasInput = document.getElementById('qtd-bolas');

    btnSim.addEventListener('click', function () {
        bolasInput.value = 1; 
        btnSim.classList.add('active'); 
        btnNao.classList.remove('active'); 
        
    });

    btnNao.addEventListener('click', function () {
        bolasInput.value = 0; 
        btnNao.classList.add('active'); 
        btnSim.classList.remove('active'); 
        
    });
});
</script>



{% endblock %}
