{% extends 'app_synes/base.html' %}
{% load static %}
{% block title %}cadêURacha - Confirmar Exclusão de Conta{% endblock %}
{% block content %}
<head>
    <link href="{% static 'app_synes/css/confirm_delete_account.css' %}" rel="stylesheet">
</head>
<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <i class="fas fa-user-times auth-icon"></i>
            <h2 class="text-center mb-0">Confirmar Exclusão de Conta</h2>
            <p class="text-center">Tem certeza de que deseja excluir sua conta? Esta ação não pode ser desfeita.</p>
        </div>
        <form method="post" action="{% url 'delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="auth-button btn-danger">Confirmar Exclusão</button>
        </form>
        <a href="{% url 'editar_perfil' %}" class="auth-button btn-secondary">Cancelar</a>
    </div>
</div>


{% endblock %}