{% extends 'app_synes/base.html' %}
{% load static %}
{% block title %}CadêURacha - Detalhes Jogo{% endblock %}
{% block content %}
<head>
    <link href="{% static 'app_synes/css/detalhes_jogo.css' %}" rel="stylesheet">
</head>
<body>

    <div class="pai">
    <div class="fundo shadow w-75">
      <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-center align-items-center flex-wrap">
          <img src="{% static 'app_synes/images/space.jpg' %}" class="img-fluid mb-4 w-75" alt="Imagem do Jogo">
          <p class="text-center w-100"><strong>Jogadores:</strong></p>
          <div class="d-flex flex-wrap gap-2 overflow-auto w-50 h-25 mb-4">
            <img src="{% static 'app_synes/images/user.jpg' %}" class="rounded-circle d-inline-block" style="width:30px; height:30px;">
            <img src="{% static 'app_synes/images/user.jpg' %}" class="rounded-circle d-inline-block" style="width:30px; height:30px;">
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title text-truncate">Detalhes de <b><span>Jogo X</span></b></h1>
            <div class="infos d-flex justify-content-between align-items-center w-75">
              <h4 class="mb-1"><strong>Quadra 1 - Rua Abacate 123</strong></h4>
              <h4 class="mb-1"><strong>Jogo com <i class='bx bxs-basketball'></i></strong></h4>
            </div>

            <div class="d-flex gap-3 my-3 organizador justify-content-between w-75">
              <div class="pad">
                <h4 class="text-center">20:00 - 22:00</h4>
              </div>
              <div class="pad">
                <h4 class="text-center">27/01/2025</h4>
              </div>
            </div>
            <p class="text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="row d-flex gap-3 mt-4 w-75 botoes ">
                <div class="form-check d-flex align-items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label translate" for="flexCheckDefault">
                      Confirmar presença
                    </label>
                    <a class="no-style translate">
                        <i class='bx bxs-info-circle translate'></i>
                    </a>
                  </div>
                  <div class="form-check d-flex align-items-center gap-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label translate" for="flexCheckDefault">
                      Vou Levar Bola
                    </label>
                    <a class="no-style translate">
                        <i class='bx bxs-info-circle translate'></i>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      </div>
   

    



</body>


{% endblock %}