{% extends 'app_synes/base.html' %}
{% load static %}
{% block title %}cadêURacha - Editar Perfil{% endblock %}
{% block content %}
<head>
    <link href="{% static 'app_synes/css/editar_perfil.css' %}" rel="stylesheet">
</head>
<div class="auth-container">
    <div class="auth-card">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div class="edit-profile-content">
            <div class="left-column">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_foto_perfil" class="form-label">Foto de Perfil</label>
                        <div class="form-group text-center">
                            <input type="file" id="id_foto_perfil" name="foto_perfil" style="display: none;">
                            <div class="image-card" onclick="document.getElementById('id_foto_perfil').click()">
                                {% if profile_form.instance.foto_perfil %}
                                    <img src="{{ profile_form.instance.foto_perfil.url }}" alt="Foto de Perfil">
                                {% endif %}
                                <div class="overlay">
                                    <i class="bi bi-camera"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_username" class="form-label">Nome de Usuário</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            {{ profile_form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="form-label">E-mail</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            {{ profile_form.email }}
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="auth-button btn btn-primary w-75 mb-3">
                            Alterar Dados
                        </button>
                    </div>
                </form>
            </div>
            <div class="vertical-bar"></div> 
            <div class="right-column">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_old_password" class="form-label">Senha Antiga</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            {{ password_form.old_password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1" class="form-label">Nova Senha</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            {{ password_form.new_password1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password2" class="form-label">Confirmar Nova Senha</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            {{ password_form.new_password2 }}
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <button type="submit" class="auth-button btn btn-primary w-75 mb-3">
                            Alterar Senha
                        </button>
                    </div>
                </form>
                <form method="get" action="{% url 'confirmar_exclusao_usuario' %}" class="w-100 d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger w-75" id="Excluir" style="border-radius: 10px; color: #ce4c00; border-color: #ce4c00; background-color: transparent; white-space: nowrap; font-weight: bold;">
                        Excluir Conta
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}