{% extends 'app_synes/base.html' %}
{% load static %}
{% block title %}cadêURacha - Encontre seu Racha{% endblock %}

{% block content %}
<head>
    <link href="{% static 'app_synes/css/index.css' %}" rel="stylesheet">
</head>

<p id="TextoPrincipal" class="text-center" > Encontre a quadra. Monte seu <br> racha. Jogue sem <br> complicação!</p>
<div class="test mt-8 d-flex justify-content-center align-items-center">
    <div class="fundo d-flex justify-content-center flex-wrap align-items-center">
        <h2 id="TextoRacha" class="w-75 text-center texts">
            Para quem tá <br> <b>afim de uma partidinha</b> <br> 
            <i class='bx bxs-basketball translate'></i>
        </h2>
        <a href="{% url 'cadastrar_racha' %}" class="w-75">
            <button id="MarcarRacha" class="border-0 w-100"><b>Marcar Racha</b></button>
        </a>
    </div>

    <div class="fundo d-flex justify-content-center flex-wrap align-items-center">
        <h2 id="TextoExplorar" class="w-75 text-center texts">
            Para quem quer <br> só <b>dar uma espiadinha</b> <br>
            <i class='bx bxs-binoculars translate'></i>
        </h2>
        <a href="{% url 'listar_todos_jogos' %}" class="w-75">
            <button id="ExplorarRacha" class="border-0 w-100"><b>Explorar Rachas</b></button>
        </a>
    </div>
</div>

{% endblock %}