{% extends 'app_synes/base.html' %}
{% load static %}
{% block title %}cadêURacha - Todos os Rachas{% endblock %}
{% block content %}
<head>
    <link href="{% static 'app_synes/css/listar_jogos.css' %}" rel="stylesheet">
</head>
<div class="auth-container">
    <div class="auth-card">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} text-center">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {% endif %}
        <div class="auth-header">
            <i class="fas fa-basketball-ball auth-icon"></i>
            <h2>Todos os Rachas Marcados</h2>
            <p>Veja todos os Rachas marcados no sistema!</p>
        </div>
        <div class="jogos-list">
            {% for jogo in jogos %}
            {% csrf_token %}
                <div class="jogo-item">
                    <h4 class="jogo-titulo">{{ jogo.titulo }}</h4>
                    <p class="jogo-info"><strong>{{ jogo.arena.nome }}</strong></p>
                    <p class="jogo-info">{{ jogo.data|date:"d/m/Y" }} às {{ jogo.horario }}</p>
                    <p class="jogo-descricao">{{ jogo.descricao }}</p>
                    
                    {% if user.is_authenticated %}
                        <div id="jogo-{{ jogo.id }}">
                            {% if user in jogo.participantes.all %}
                                
                                <button class="btn-excluir-presenca" data-jogo-id="{{ jogo.id }}" data-acao="cancelar-presenca">Cancelar Presença</button>
                                
                            {% else %}
                                
                                <button class="btn-confirmar-presenca" data-jogo-id="{{ jogo.id }}"data-acao="confirmar-presenca">Confirmar Presença</button>
                            {% endif %}
                        </div>
                        <br>
                        <div class="jogos-list">
                            {% if jogo.bolas >= 1 %}
                                <span class="bola-icon">🏀</span>
                            {% else %}
                                {% if user in jogo.participantes.all %}
                                    <form method="post" action="{% url 'levar_bola' jogo.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="acao" value="adicionar">
                                        <button type="submit" class="btn btn-primary">Vou sim</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                            
                            {% if user in jogo.participantes.all and user.leva_bola %}
                                <form method="post" action="{% url 'levar_bola' jogo.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="acao" value="remover">
                                    <button type="submit" class="btn btn-danger">Cancelar bolinha</button>
                                </form>
                            {% endif %}
                        </div>
                        <br>
                        <h5>Participantes:</h5>
                        {% if jogo.participantes.all %}
                            <ul>
                                {% for participante in jogo.participantes.all %}
                                    <li>{{ participante.username }}</li> 
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Não há participantes confirmados ainda.</p>
                        {% endif %}
                    {% else %}
                        <p><a href="{% url 'logar' %}">Faça login</a> para participar deste racha.</p>
                    {% endif %}
                </div>
            {% empty %}
                <div class="no-jogos">
                    <p>Não há rachas marcados no momento.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    
document.querySelectorAll('.btn-confirmar-presenca').forEach(button => {
    button.addEventListener('click', function() {
        const jogoId = this.getAttribute('data-jogo-id');
        const url = `/confirmar-presenca/${jogoId}/`;
        
        let acao = this.dataset.acao;  
        let btn = this;
        
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(), 
            },
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Erro ao confirmar presença');
            }
        })
        .then(data => {
            
            if(data.status==="sucess"){
                alert(data.message);
                btn.textContent = data.texto_cancelar_presenca;
                btn.dataset.acao = data.acao_cancelar_presenca;
                btn.classList.toggle('btn-success');
                btn.classList.toggle('btn-danger');
            } else{
                alert(data.message);
            }
        })
        .catch(error => {
            console.error(error);
            alert('Ocorreu um erro ao confirmar a presença.');
        });
    });
});


function getCSRFToken() {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    return csrfToken;
}

document.querySelectorAll('.btn-excluir-presenca').forEach(button => {
    button.addEventListener('click', function() {
        const jogoId = this.getAttribute('data-jogo-id');
        const url = `/excluir-presenca/${jogoId}/`;

        let acao = this.dataset.acao;  
        let btn = this;

        
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(), 
            },
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Erro ao cancelar presença');
            }
        })
        .then(data => {
            if(data.status==="sucess"){
                alert(data.message);
                btn.textContent = data.texto_confirmar_presenca;  
                btn.dataset.acao = data.acao_confirmar_presenca;  
                btn.classList.toggle('btn-success');  
                btn.classList.toggle('btn-danger');
            } else{
                alert(data.message);
            }
        })
        .catch(error => {
            console.error(error);
            alert('Ocorreu um erro ao cancelar a presença.');
        });
    });
});


function getCSRFToken() {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    return csrfToken;
}
</script>
{% endblock %}